.DS_Store
fish/functions/fish_mode_prompt.fish
fish/functions/fish_prompt.fish
fish/functions/fish_right_prompt.fish
fish/functions/git_ahead.fish
fish/functions/git_branch_name.fish
fish/functions/git_is_detached_head.fish
fish/functions/git_is_dirty.fish
fish/functions/git_is_empty.fish
fish/functions/git_is_repo.fish
fish/functions/git_is_staged.fish
fish/functions/git_is_stashed.fish
fish/functions/git_is_tag.fish
fish/functions/git_is_touched.fish
fish/functions/git_repository_root.fish
fish/functions/git_untracked_files.fish
fish/functions/host_info.fish
fish/functions/humanize_duration.fish
fish/functions/last_job_id.fish
fish/functions/pwd_info.fish
fish/functions/pwd_is_home.fish
fish/functions/segment.fish
fish/functions/segment_close.fish
fish/functions/segment_right.fish
fish/functions/set_color_custom.fish
