HashKnownHosts no
StrictHostKeyChecking no
ServerAliveInterval 60
ServerAliveCountMax 3

AddKeysToAgent yes

ServerAliveInterval 60

Host *
  ForwardAgent yes

Host umaru
  Hostname umaru.kevin.jp
  User kevin
  Port 22

Host haru
  Hostname haru.kevin.jp
  User kevin
  Port 22

Host haru-wifi
  Hostname haru-wifi.kevin.jp
  User kevin
  Port 22

Host umaru-dev
  Hostname umaru.dev.kevin.jp
  User kevin
  Port 22

Host haru-dev
  Hostname haru.dev.kevin.jp
  User kevin
  Port 22

Host haru-wifi-local
  Hostname haru-wifi.dev.kevin.jp
  User kevin
  Port 22

Host reina-dev
  Hostname reina.dev.kevin.jp
  User kevin

Host reina
  Hostname reina.kevin.jp
  User kevin

Host tomoyo
  Hostname tomoyo.kevin.jp
  User kevin

Host admin
  Hostname admin.iknow.jp
  User deploy

Host testing
  Hostname testing.iknow.jp
  User deploy

Host stable
  Hostname stable.iknow.jp
  User deploy

Host eikaiwa_jumppoint
  hostname 52.198.44.181
  User deploy

Host iknowjp_jumppoint
  hostname nat1.aws.iknow.jp
  User deploy

Host 10.3.*
  StrictHostKeyChecking no
  ProxyCommand ssh -W %h:%p eikaiwa_jumppoint

Host 10.0.*
  StrictHostKeyChecking no
  ProxyCommand ssh -W %h:%p iknowjp_jumppoint
