HashKnownHosts no
StrictHostKeyChecking no
ServerAliveInterval 60
ServerAliveCountMax 3

AddKeysToAgent yes

ServerAliveInterval 60

Host *
  ForwardAgent yes

Host umaru
  Hostname umaru.kevin.jp
  User kevin
  Port 22

Host erika
  Hostname erika.kevin.jp
  User kevin
  Port 22

Host erika-vm
  Hostname erika.vm.kevin.jp
  User kevin
  Port 22

Host haru
  Hostname haru.kevin.jp
  User kevin
  Port 22

Host haru-wifi
  Hostname haru-wifi.kevin.jp
  User kevin
  Port 22

Host umaru-local
  Hostname umaru.local.kevin.jp
  User kevin
  Port 22

Host erika-local
  Hostname erika.local.kevin.jp
  User kevin
  Port 22

Host erika-vm-local
  Hostname erika.vm.local.kevin.jp
  User kevin
  Port 22

Host haru-local
  Hostname haru.local.kevin.jp
  User kevin
  Port 22

Host haru-wifi-local
  Hostname haru-wifi.local.kevin.jp
  User kevin
  Port 22

Host reina-local
  Hostname reina.local.kevin.jp
  User kevin

Host tomoyo
  Hostname tomoyo.kevin.jp
  User kevin

Host admin
  Hostname admin.iknow.jp
  User deploy

Host testing
  Hostname testing.iknow.jp
  User deploy

Host stable
  Hostname stable.iknow.jp
  User deploy

Host eikaiwa_jumppoint
  hostname 52.198.44.181
  User deploy

Host iknowjp_jumppoint
  hostname nat1.aws.iknow.jp
  User deploy

Host 10.3.*
  StrictHostKeyChecking no
  ProxyCommand ssh -W %h:%p eikaiwa_jumppoint

Host 10.0.*
  StrictHostKeyChecking no
  ProxyCommand ssh -W %h:%p iknowjp_jumppoint
